{{ .Scratch.Add "title" "" }}
{{ .Scratch.Add "description" "" }}
{{ if isset .Site.Data.titles .Title }}
    {{ .Scratch.Set "title" (index .Site.Data.titles .Title).title }}
    {{ .Scratch.Set "description" (index .Site.Data.titles .Title).description }}
{{ else }}
    {{ .Scratch.Set "title" .Title}}
    {{ .Scratch.Set "description" .Description}}
{{end}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/wiss.css">

    <title>{{ with .Scratch.Get "title"}}{{ . }} | {{end}}{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Scratch.Get "description"  }}">
  </head>
  <body>

    <div class="container toptitle">
      <div class="titleContent">
        <div class="title col-md-8">
          <a href="/">Web-based Information Systems and Services</a>
        </div>
        <div class="hdmlogo  col-md-4">
          <a class="toplogo" href="http://www.hdm-stuttgart.de/">
            <img src="/img/logo_web.svg" height="80" alt="">
          </a>
        </div>
      </div>
      <div id="svgTarget" class="titleBackground">
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">

      <!-- Navigation -->
      <nav class="navbar gradient_corporate_color" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <a href="/news">News</a>
              </li>
              <li>
                <a href="/people">People</a>
              </li>
              <li>
                <a href="/projects">Projects</a>
              </li>
              <li>
                <a href="/teaching">Teaching</a>
              </li>
              <li>
                <a href="/thesis">Thesis</a>
              </li>
	      <li>
                <a href="/career">Career</a>
              </li>

<!--
              <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		<ul class="dropdown-menu">
		  <li><a href="#">Action</a></li>
		  <li><a href="#">Another action</a></li>
		  <li><a href="#">Something else here</a></li>
		  <li role="separator" class="divider"></li>
		  <li><a href="#">Separated link</a></li>
		  <li role="separator" class="divider"></li>
		  <li><a href="#">One more separated link</a></li>
		</ul>
              </li>
-->
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
      </nav>
