{{if eq (.Get 0) "question" }}
<div class="smallData">
<table class="datatable">
<tr><th>Name: </th><td>
{{with (.Get 1)}}<a href="{{ . }}">{{end}}
You?
{{with (.Get 1)}}<a href="{{ . }}">{{end}}
</td></tr>
<tr><th></th><td><i>Join us!</i></td></tr>
</table>
{{with (.Get 1)}}<a href="{{ . }}">{{end}}
<img class="smallLogo" src="/img/questionface.png"/>
{{with (.Get 1)}}</a>{{end}}
</div>
{{else}}
{{range where .Page.Site.Pages "Params.id" (.Get 0)}}
{{$data := .Params}}
<div class="smallData">
<table class="datatable">
<tr><th>Name: </th><td><a href="/people/{{$data.id}}">{{ .Title }}</a></td></tr>
{{with $data.function}}<tr><th></th><td>{{ .}}</td></tr>{{end}}
<tr><th>Email: </th><td>{{partial "email" (dict "email" (delimit (slice $data.emailuser "@" $data.emaildomain) "")) }}</td></tr>
{{with $data.phone}}
<tr><th>Phone: </th><td>{{.}}</td></tr>
{{end}}
</table>
<a href="/people/{{$data.id}}"><img class="smallLogo" src="{{$data.photo}}"/></a>
</div>
{{end}}
{{end}}
