{{$.Scratch.Set "bibfile" "bibliography"}}
{{with .Page.Params.publications}}{{$.Scratch.Set "bibfile" .}}{{end}}
{{with .Params.file}}{{$.Scratch.Set "bibfile" .}}{{end}}
{{$references:=index .Page.Site.Data ($.Scratch.Get "bibfile") }}
{{with .Get "id"}}
{{ range where $references "id" .}}
{{partial "pubSingle" .}}
{{end}}
{{end}}
{{with .Get "year"}}
{{$y:=.}}
<ul>
{{ range sort $references "issued.year" "desc"}}
{{$year := replace .issued.year " " " "}}
{{if eq $year $y}}
<li>{{partial "pubSingle" .}}</li>
{{end}}
{{end}}
</ul>
{{end}}
